@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
}
.navigation {
    background-color: black;
}

.logo-title {
    color: white;
    font-family: 'SF Pro Text', sans-serif;
}
.nav-item {
    display: flex;
    color: white;
}

.price {
    color: white;
}
.contact {
    display: flex;
}